SUBSYSTEM=="hidraw*", MODE="0666", GROUP="plugdev", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="3434", ATTRS{idProduct}=="0b30", MODE:="0660", GROUP:="plugdev", TAG+="uaccess"

